/*----------------Body initial------------------------*/
body{
    font-family:Lucida Family,sans-serif;
    font-size:1em;
    vertical-align:middle;
    font-weight:normal;
}

.mainbox{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    top: 300px;
    width: 1200px;
}

/*----------------Sec initial----------------*/

.mainbox .table_whole_div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 40px;
    background-color: rgb(255,255,255);
    width: 100%;
}
/*-----------------Table style---------------------*/
.table_caption{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#capitalFee{
    margin: 20px 0 0;
    font-weight: bold;
}
#capitalFee>#total_capital{
    margin-right: 40px;
}
.edit_box{
    font-weight: bold;
}

.table_div{
    overflow-x: scroll;
}

.table{
    table-layout: fixed;
    width: 100%;
}

.scroll_table{
    height: 520px;
    overflow-y: scroll;
}

.table, .table th, .table td{
    border: 1px solid black;
    border-collapse: collapse;
}

.table th{
    padding: 10px 5px;
    text-align: left;
    background-color: ghostwhite;
    width: 150px;
}

.table td{
    padding: 8px 5px;
    text-align: left;
    tab-index: true;
}

.table tr:hover{
    background-color: rgb(241,245,250);
}

.first_col_div{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first_col_div:first-child{
    font-weight: bold;
}
.delete:hover{
    cursor: pointer;
}



/*-------------------Buttons-----------------*/
#box-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 16px 8px;
}

#add_row,#submit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    /*background-color: #DEDDD9;*/
}


#add_row:hover, #submit:hover{
    background-color: rgba(81,180,85,0.64);
}