/*----------------Body initial------------------------*/
body{
    font-family:Lucida Family,sans-serif;
    font-size:1em;
    vertical-align:middle;
    font-weight:normal;
}

.mainbox{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    top: 300px;
    width: 1200px;
}


/*----------------Sec initial----------------*/

.mainbox .box-table{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 40px;
    background-color: rgb(255,255,255);
    width: 100%;
}
/*-----------------Form style---------------------*/
.box-caption{
    margin-top: -10px;
    margin-bottom: 10px;
}
.box-form{
    overflow-x: scroll;
}
.form{
    table-layout: fixed;
    width: 100%;
}

.form, .form th, .form td{
    border: 1px solid black;
    border-collapse: collapse;
}

.form th{
    padding: 10px 5px;
    text-align: left;
    background-color: ghostwhite;
    width: 150px;
}
.form td{
    padding: 8px 5px;
    text-align: left;
    tab-index: true;
}


.form tr:hover{
    background-color: rgb(241,245,250);
}

.first_cell{
    padding-left: 0px;
    padding-top: 0px;
}
/*--------------Remove function--------------*/
.no{
    display: block;
}
.rmspan{
    display: block;
    float: right;
    cursor: pointer;
}
.rmspan:hover{
    background-color: #DEDDD9;
}
.cellno{
    width: 70px;
}
.tes{
    padding: 0;
}

/*-------------------Buttons-----------------*/
#box-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 16px 8px;
}

#add_row,#content{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    /*background-color: #DEDDD9;*/
}

#box-add div{
    margin-top: 20px;
}
#box-add div a{
    margin: 0 10px;
}

#add_row:hover, #content:hover{
    background-color: rgba(81,180,85,0.64);
}