.mainbox{
    display: flex;
    margin-left: -10px;
    top: 300px;
}

.mainbox .column{
    flex:1;
    margin: 0px;
}


.mainbox .column:nth-child(2){
    flex:6.5;
}

.top_box{
    height: 300px;
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
}

.column .top_column{
    margin: 0;
}


#overview_info{
    flex: 3;
    background-color: ghostwhite;
    border-radius: 20px;
    margin: 0 20px;
}

#overview_info>ul{
    list-style: none;
    height: 260px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*justify-content: space-around;*/
    margin: 20px;
    padding: 0;
}

#overview_info ul li{
    display: flex;
    /*text-align: center;*/
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    flex-grow: 1;
    flex-shrink: 1;
}
#overview_info ul li:first-child{
    font-size: 2em;
    color: rgb(173,139,46);
}
#overview_info ul li:last-child{
    border: none;
}

.top_column>ul>li:nth-child(0){
    display: flex;
    justify-content: space-between;
}
#pie{
    width: 60px;
    height: 60px;
    /*flex: 1;*/
    /*margin: 0 20px;*/
    background-color: ghostwhite;
}

#TVPI_curve{
    flex: 4.5;
    background-color: ghostwhite;
    border-radius: 20px;
    margin: 0 20px;
}

.column .bot_box{
    display: flex;
    height: 500px;
    margin-top: 20px;
}
.bot_box .bot_column{
    margin: 0px;
}

#double_pie{
    flex: 1 2 200px;
    background-color: ghostwhite;
    border-radius: 20px;
    margin: 20px;
}
#mseq_bar{
    flex: 1 2 400px;
    background-color: ghostwhite;
    border-radius: 20px;
    margin:20px;

}
#two_pie{
    flex: 1 2 200px;
    background-color: ghostwhite;
    border-radius: 20px;
    margin:20px;
}