.mainbox{
    display: flex;
    margin-left: -10px;
    top: 300px;
}

.mainbox .column{
    flex:1;
    margin: 0px;
}

.mainbox .column:nth-child(1){
    height: 800px;
    width: 150px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: ghostwhite;
    margin-left: -10px;
    margin-right: -10px;
}

.mainbox .column:nth-child(2){
    flex:6;
}


/*------ left menu------*/
.column nav{
    width: 200px;
    height: 400px;
}

.nav{
    list-style-type: none;
    margin-left: -40px;
    text-align: left;
    margin-top: 0;
}

.nav>li{
    line-height: 20px;
    padding: 20px;
    cursor: pointer;
}

.nav>li>.tet:hover{
    color: rgb(173,139,46);
}

.current{
    color: rgb(173,139,46);
}

.sub{
    display: none;
}

.sub>li{
    list-style: none;
    font-weight: normal;
    padding: 10px 20px 10px 0px;
}

.sub>li:first-child{
    padding: 20px 20px 10px 0px;
}

.sub>li:hover{
    font-weight: bold;
}

.column .top_box{
    display: flex;
    height: 400px;
}

.top_box .top_column{
    flex:1;
    margin: 0px;
}

.top_box .top_column:nth-child(1){
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    border-radius: 40px;
    background-color: ghostwhite;
}
#total_company_div{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

#total_amount_div{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

.text_info{
    margin: 20px 20px;
    padding: 20px 0 0 0;
    text-align: center;
}


#total_company_pie{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 40px;
    right: 20px;
    border-radius: 20px;
    background-color: white;
}
#total_inv_pie{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 40px;
    right: 20px;
    border-radius: 20px;
    background-color: white;
}
#total_company{
    font-size: 3em;
}
#total_amount{
    font-size: 3em;
}

.top_box .top_column:nth-child(2){
    flex-grow: 2;
    background-color: ghostwhite;
}

.column .bot_box{
    display: flex;
    height: 400px;
    margin-top: 20px;
}
.bot_box .bot_column{
    margin: 0px;
}

#MSEQ_investment{
    flex: 1 2 200px;
    background-color: ghostwhite;
    border-radius: 20px;
    margin: 20px;
}
#div_table{
    flex: 2 1 400px;
    margin: 20px;

}
#bar_chart{
    flex: 1 2 200px;
    background-color: ghostwhite;
    border-radius: 20px;
    margin:20px;
}

#div_table{
    overflow-y: scroll;
    background-color: ghostwhite;
}
.table{
    table-layout: fixed;
    font-size: 0.5em;

}
.table, .table th, .table td{
    border: 1px solid black;
    border-collapse: collapse;
}
.table th{
    padding: 8px 5px;
    text-align: left;
    background-color: white;
    width: 100px;
}
.table td{
    padding: 8px 5px;
    text-align: left;
}
.selected{
    color: rgb(173,139,46);
}
