<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mysql.properties"/>

    <typeAliases>
        <typeAlias type="com.xxxx.entity.User" alias="User"/>
        <typeAlias type="com.xxxx.entity.Company" alias="Company"/>
        <typeAlias type="com.xxxx.entity.Company" alias="Deal"/>
        <typeAlias type="com.xxxx.entity.Valuation" alias="Valuation"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url"
                          value="${url}" />
                <property name="username" value="admin" />
                <property name="password" value="msvc2020" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.xxxx.dao"/>
    </mappers>
</configuration>